<form class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Seja bem-vindo</h1>
        <p>Selecione o seu destino</p>
    </div>

    <div class="text-center mb-4">
        <select id="selectCity" name="selectCity" class="form-control" onchange="location = this.value;">
            <option selected>Escolha...</option>
            <option>Manaus</option>
            <option value="/parintins">Parintins</option>
            <option>Iranduba</option>
            <option>Cacau Pereira</option>
        </select>
    </div>

</form>